.home-01 {
  background-color: $color-blue-dark;
  @extend %secton-display;
  .background {
    @extend .scrim;
    .under-cover {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 465px;
      }
    }
  }
}

.home-01 {
  .headline-box {
    @include tablet {
      @include push(2);
    }
    @include laptop {
      @include push(3);
    }
    @include desktop {
      @include push(2);
    }
    .headline {
      @extend %text-align-center;
      .headline__text {
        @extend %jumbo;
      }
    }
    .subheadline {
      @extend %text-align-center;
      .subheadline__text {
        @extend %title;
      }
    }
  }
}

.presentation__container {
  position: relative;
  background: #F9F8F8;
  box-shadow: 0 0 20px 0 rgba($black, .3), 0 0 80px 0 rgba($black,.3);
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 16px;
  max-width: 970px;
  @include tablet {
    margin-top: 88px;
  }
  @include desktop {
    width: 970px;
  }
  .browser-bar {
    height: 40px;
    position: relative;
    display: none;
    @include desktop {
      display: block;
    }
  }
  .browser-button {
    position: absolute;
    background-image: url(#{$background_path}bg--browser-buttons.svg);
    width: 40px;
    height: 8px;
    left: 18px;
    top: 16px;
  }
  .browser-menu {
    position: absolute;
    background-image: url(#{$background_path}bg--browser-menu.svg);
    width: 3px;
    height: 15px;
    right: 15px;
    top: 12px;
  }
  .slider-for {
    margin-bottom: 144px;
  }
  .slick-arrow {
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
  .app-item {
    img {
      text-align: center;
      max-width: 100%;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: -60px;
    li + li {
      margin-left: 20px;
    }
    li button:before {
      content: '';
      border-radius: 50%;
      display: block;
      background-color: $color-blue;
      width: 16px;
      height: 16px;
    }
  }
}
