.home-02 {
  position: relative;
  background: $white;
  padding: 0;
  height: 100vh;
  @include tablet {
    height: 740px;
  }
  // @include laptop {
  //   height: 740px;
  // }
  // @include desktop {
  //   height: 860px;
  // }
  @extend %scrim-gradient;
  .background {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(#{$background_path}bg--line-chart.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .rover {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: -80px;
    width: 320px;
    img {
      width: 100%;
    }
    @include tablet {
      bottom: 0;
      left: -20%;
      width: 366px;
    }
    @include laptop {
      bottom: 170px;
      left: -28%;
    }
    @include desktop {
      bottom: 200px;
      left: -20%;
    }
  }
  .title-box {
    @include push(1);
    @include tablet {
      @include push(3);
    }
    @include laptop {
      @include push(4);
    }
    @include desktop {
      @include push(5);
    }
    &__title {
      margin-bottom: 10px;
      font-size: 36px;
      color: $color-gray-darker;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 24px;
    }
    &__description {
      display: block;
      margin: auto;
      font-size: 16px;
      color: $color-gray;
      line-height: 1.5em;
    }
  }
}
