.home-03 {
  position: relative;
  background:linear-gradient(to bottom, rgba(#4697FF,1) 60%, rgba($color-blue-light,1) 100%);
  padding: 50px 0;
  @include tablet {
    padding: 40px 0 120px;
  }
  // .home-03__item
  &__item {
    margin-bottom: gutter(susy-get(columns, $phone-layout));
    @include tablet {
      &:first-child {
        @include span(12);
      }
      @include span(6);
      &:last-child {
        @include span(6 last);
      }
      margin-bottom: gutter(susy-get(columns, $tablet-layout));
    }
    @include laptop {
      @include span(4);
      &:first-child {
        @include span(4);
      }
      &:last-child {
        @include span(4 last);
      }
    }
  }
  .title-box {
    text-align: center;
    margin-top: 0;
    padding: 0;
    width: auto;
    @include laptop {
      text-align: left;
    }
    &__title {
      margin: 0 0 48px;
      font-size: 36px;
      line-height: 1.5em;
      color: $white;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
    &__description {
      padding: 0 12px;
      display: block;
      font-size: 16px;
      color: $white;
      @include laptop {
        padding: 0;
      }
    }
  }
  // .home-03__item.solution-item
  .solution-item {
    text-align: left;
    padding: 0 15px;
    &__btn {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background: linear-gradient(to left, rgba($color-blue-dark,1) 0%, rgba($color-blue-light,1) 100%);
      color: $white;
      font-size: 14px;
      margin-top: 28px;
    }
    // .solution-item__container
    &__container {
      border: 1px $white solid;
      border-radius: 4px;
      padding: 48px 24px 24px;
      margin-top: 24px;
      background: $white;
      box-shadow: $shadow2;
      &:hover {
        box-shadow: $shadow4-hover;
        transition: box-shadow .75s;
      }
      @include laptop {
        margin-top: 0px;
      }
    }
    &__img {
      display: block;
      margin: auto;
    }
    &__title {
      text-align: center;
      margin: 16px 0 20px;
      font-size: 20px;
      color: $color-gray-darker;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
    &__text {
      display: block;
      margin: auto;
      font-size: 16px;
      color: $color-gray;
      padding: 20px 0;
      border-top: 1px solid $color-gray-lighter;
      border-bottom: 1px solid $color-gray-lighter;
    }
  }
}
