.home-04 {
  position: relative;
  background: $white;
  padding: 50px 0;
  @include tablet {
    padding: 100px 0 180px;
  };
  .title-box {
    margin-top: 0;
  }
  .background {
    position: absolute;
    height: 374px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      width: 100%;
      height: 374px;
    }
  }
  .blog-wrapper {
    padding: 20px 0;
    @include container;
    // @include tablet {
    //   padding: 60px 0;
    // };
    // @include laptop {
    //   padding: 80px 0;
    // };
  }
  .blog-item {
    text-align: center;
    padding: 15px;
    margin-bottom: gutter(susy-get(columns, $phone-layout));
    @include tablet {
      @include gallery(6);
      margin-bottom: gutter(susy-get(columns, $tablet-layout));
    };
    @include laptop {
      @include gallery(3);
    };
    &__link {
      display: block;
      border-bottom: 4px $color-yellow solid;
      border-radius: 4px;
      box-shadow: $shadow2;
      background-color: rgba($white,.8);
      text-decoration: none;
      z-index: 0;
      position: relative;
      &:hover {
        position: relative;
        box-shadow: $shadow4-hover;
        transition: box-shadow .75s;
        z-index: 1;
      }
    }
    &__img {
      border-radius: 4px 4px 0 0;
      display: block;
      margin-bottom: 24px;
      min-height: 240px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__text {
      padding: 0 12px;
      display: block;
      margin-bottom: 24px;
      font-size: 16px;
      height: 32px;
      color: $color-gray-darkest;
    }
  }
}
