// == START OF FOOTER ==
footer.footer
  .footer-main-box
    .container
      .left-box
        a.footer-logo-box(href='index.html')
          span.footer-logo(src=other_pics_path+'logo--circle--color.svg')
          span.footer-logo-text(src=other_pics_path+'logo--text--color.svg')
        span.footer-description
          | 歡迎才華洋溢、充滿熱情的你加入 CEPAVE
        ul.social
          li.social__item
            a.social__link.social__link--facebook(href='//www.facebook.com/CepaveInc/', target='_blank')
          li.social__item
            a.social__link.social__link--github(href='//github.com/Cepave', target='_blank')
      .right-box
        ul.footer-menu
          li.footer-menu__item
            span.footer-menu__title
              | Project
          li.footer-menu__item
            .footer-menu__item__link
              | OWL
          li.footer-menu__item
            a.footer-menu__item__link(href='http://open-falcon.org', target='_blank')
              | Open Falcon
          li.footer-menu__item
            .footer-menu__item__link
              | OWL UI
        ul.footer-menu
          li.footer-menu__item
            span.footer-menu__title
              | Service
          li.footer-menu__item
            .footer-menu__item__link
              | Monitoring System -  Enterprise Solutions
          li.footer-menu__item
            .footer-menu__item__link
              | Blockchain
        ul.footer-menu
          li.footer-menu__item
            span.footer-menu__title
              | COMPANY
          li.footer-menu__item
            a.footer-menu__item__link(href='about.html')
              | About
          li.footer-menu__item
            a.footer-menu__item__link(href='team.html')
              | Team
          li.footer-menu__item
            a.footer-menu__item__link(href='http://blog.cepave.com')
              | Blog
          li.footer-menu__item
            a.footer-menu__item__link(href='hiring.html')
              | Jobs
  .footer-description-box
    .container
      ul.footer-submenu
        li.footer-submenu__item
          .footer-submenu__item__link
            | Terms and Conditions
        li.footer-submenu__item
          .footer-submenu__item__link
            | Privacy Policy
        li.footer-submenu__item
          .footer-submenu__item__link
            | FAQ
      span.footer-copyright
        | &copy; ceapve.com, 2017
// == END OF FOOTER ==
