extends ../_layout/_layout

//- Variables
append vars
  - var pageTitle       = 'cepave | About'
  - var pageDescription = 'Description'
  - var bodyClass       = ''
  - var css_path        = '../css/main.min.css'
  - var js_path         = '../js/main.min.js'

block content

  - var img_path        = '../img/'
  - var icons_path      = '../img/icons/'
  - var other_pics_path = '../img/etc/'
  - var pictures_path   = '../img/pictures/'
  - var favcions_path   = '../img/favcions/'
  - var background_path = '../img/bg/'
  - var avatar_path     = '../img/avatar/'

  include ../_layout/_header/_navigation_bar
  include ../_section/_about/_01
  include ../_section/_about/_02
  include ../_section/_about/_03
  include ../_section/_about/_04
  include ../_layout/_footer/_footer
