extends _layout/_layout

//- Variables
append vars
  - var pageTitle       = 'cepave | About'
  - var pageDescription = 'Description'
  - var bodyClass       = ''

block content
  - var selected = 'About'
  include _layout/_header/_navigation_bar
  include _section/_about/_01
  include _section/_about/_02
  include _section/_about/_03
  include _section/_about/_04
  include _layout/_footer/_footer
