extends _layout/_layout

//- Variables
append vars
  - var pageTitle       = 'cepave | Contact'
  - var pageDescription = 'Description'
  - var bodyClass       = 'contact'

block content
  - var selected = 'Contact'
  include _layout/_header/_navigation_bar
  include _section/_contact/_contact
  include _layout/_footer/_footer
