extends _layout/_layout

//- Variables
append vars
  - var pageTitle       = 'cepave | 全台灣最懂區塊鏈與監控系統的專家'
  - var pageDescription = 'Description'
  - var bodyClass       = ''

block content
  main.page_wrapper
    include _layout/_header/_navigation_bar
    include _section/_home/_01
    include _section/_home/_02
    include _section/_home/_03
    include _section/_home/_04
    include _section/_home/_05
    include _layout/_footer/_footer
