nav#sidebar-wrapper(role='navigation')
  ul.nav.sidebar-nav
    li
      a(href='index.html') Home
    //- li
    //-   a(href='#') Project
    //- li
    //-   a(href='#') Service
    li
      a(href='http://blog.cepave.com') Blog
    li
      a(href='team.html') Team
    li
      a(href='about.html') About
    li
      a(href='hiring.html') Hiring
    li
      a(href='contact.html') Contact