-
  var menu = {
    'Project': 'javascript:;',
    'Service': 'javascript:;',
    'Blog'   : 'http://blog.cepave.com',
    'About'  : 'about.html',
    'Contact': 'contact.html'
  }

nav.navigation_bar(data-nav-status='toggle')
  .container.header__container
    .header__left_box
      a.header__logo_box(href='/')
        span.header__logo_img
        span.header__logo_text
          | Cepave
    .header__right_box
      ul.header__menu_list.header__item--desktop
        each  urlPath, key in menu
          li.header__menu_item
            if selected === key
              a.header__menu_link.state-active(href= urlPath)= key
            else
              a.header__menu_link(href= urlPath)= key
