.hiring-01 {
  background-color: $color-robin-blue;
  .background {
    @extend .scrim;
    background-image: linear-gradient(to bottom, rgba($black,0.5) 0%, rgba($black,0) 50%);
  }
  .container {
    position: relative;
  }
  .background-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 473px;
  }
}
.hiring-01 {
  @extend %secton-display;
  .headline-box {
    @include tablet {
      @include span(5);
      @include push(1);
    }
    .headline {
      @extend %text-align-center;
      @include tablet {
        text-align: left;
      }
      .headline__text {
        @extend %jumbo;
      }
    }
    .subheadline {
      @extend %text-align-center;
      @include tablet {
        text-align: left;
      }
      .subheadline__text {
        @extend %subhead;
      }
    }
  }
  .spaceship {
    position: relative;
    @include tablet {
      @include span(5 last);
    }
    @include desktop {
      @include span(5 last);
    }
    img {
      max-width: 70%;
      position: absolute;
      top: -20px;
      @include tablet {
        top: 100px;
        max-width: 100%;
      }
      left: 0;
      animation: spaceship infinite ease-in-out 2s;
    }
  }
}

@keyframes spaceship {
  50% {
    transform: rotate(-3deg) translateY(15px) translateX(5px);
  }
}
