.hiring-02 {
  position: relative;
  background: $white;
  padding-bottom: 120px;
  padding-top: 0;
  // @include tablet {
  //   padding-top: 0;
  // };
  // @include laptop {
  //   padding-top: 0;
  // };
  // @include desktop {
  //   padding-top: 0;
  // }
  .background {
    width: 100%;
    top: 0;
    position: absolute;
    .fix-position {position: relative;}
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      @include tablet {
        height: 300px;
      }
      @include laptop {
        height: 400px;
      }
      @include desktop {
        height: 600px;
      }
    }
  }
  .title-box {
    margin-top: 0;
    @include tablet {
      margin-top: 10px;
    }
    @include laptop {
      margin-top: 20px;
    }
    @include desktop {
      margin-top: 30px;
    }
  }
  .values-wrapper {}
  .values-item {
    text-align: center;
    margin-bottom: 56px;
    float: left;
    width: 100 / 3 * 1%;
    height: 250px;
    @media (#{$max_laptop}) {
      height: 320px;
    }
    @media (#{$max_tablet}) {
      width: 100 / 2 * 1%;
      height: 280px;
    }
    @media (#{$max_phone}) {
      width: 100 / 1 * 1%;
    }
    &__img {
      margin-bottom: 16px;
    }
    &__title {
      margin-bottom: 24px;
      font-size: 20px;
      color: $color-gray-darker;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 24px;
    }
    &__text {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      color: $color-gray;
      padding: 0 5%;
      min-height: 3em;
    }
  }
}
