@mixin hiring_benefit-list__item__cover($color){
  .benefits-item__cover {
    background-color: rgba($color, 1);
  }
  &:hover {
    .benefits-item__cover {
      transition: background-color .75s;
      background-color: rgba($color, 0);
    }
  }
}

@each $child, $color in (1: $color-blue-dark, 2: $color-blue, 3: $color-blue-light, 4: $color-robin-blue, 5: $color-green, 6: $color-yellow, 7: $color-orange, 8: $color-red, 9: $color-purple, 10: $color-secondary, 11: $color-blue-darker, 12: $color-blue){
  .benefits-item {
    .benefits-item__text {
      color: $white;
    }
    &:nth-child(#{$child}) {
      @include hiring_benefit-list__item__cover($color);
    }
  }
}

.hiring-03 {
  text-align: center;
  background: $color-gray-ligtest;
  padding-bottom: 0;
  .title-box {
    margin-top: 0;
  }
  .benefits {
    @include clear_list;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    &-item {
      position: relative;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active,
      &:visited {
        text-decoration: none;
      }
      float: left;
      width: 100 / 6 * 1%;
      height: 200px;
      @media (#{$max_laptop}) {
        width: 100 / 4 * 1%;
        height: 185px;
      }
      @media (#{$max_tablet}) {
        width: 100 / 3 * 1%;
        height: 160px;
      }
      @media (#{$max_phone}) {
        width: 100 / 2 * 1%;
        height: 135px;
      }
      &__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
      }
      &__text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font-size: 16px;
        padding: 0 10%;
      }
    }
  }
}
