// == START OF ABOUT 01 ==

- var headline    = '我們是誰'
- var subheadline = 'Cepave 成立於 2015 年，致力於打造企業級的網路應用解決方案，目前推出網路監控系統(CDN Monitoring)、區塊鏈(Blockchain) 產品，提供智慧、直覺與人性化的解決方案。親歷新創公司發展的同時，我們也深入了解傳統企業的運維需求場景，也因此產品正被互聯網玩家們廣泛採用。'

.space
.about.about-01
  .background
    img.background-top(src=img_path+'about-wave.svg')
  .container
    +headline-box(headline, subheadline)
    .planet
      img(src='img/planet-xl.svg')

// == End OF ABOUT 01 ==
