// == START OF ABOUT 02 ==

- var culture_1        = 'culture_1';
- var culture_2        = 'culture_2';
- var culture_3        = 'culture_3';
- var cultureSlogan_1  = '速度激情';
- var cultureSlogan_2  = '化繁為簡';
- var cultureSlogan_3  = '年輕狂野';
- var cultureImage_1   = img_path+'comet.svg';
- var cultureImage_2   = img_path+'x-wing.svg';
- var cultureImage_3   = img_path+'galaxy--about.svg';
- var cultureContent_1 = '看緊目標、快速迭代，我們追求用最小的管理，靈活、快速、有效率的溝通';
- var cultureContent_2 = '我們面對混亂、終結混亂，追求最接近使用場景的貼心，贏得客戶信賴';
- var cultureContent_3 = '制度無法管理態度，因為彼此信任，所以突破體制狂放又熱情奔向目標';

mixin culture-item(active, index, culture)
  mixin content
    .about__culture_title
      | #{culture}
  if active == true
    .about__culture_item.js-content-trigger(class='state-active', data-content-index=index)
      +content
  else
    .about__culture_item.js-content-trigger(data-content-index=index)
      +content

mixin culture-item-content(show, index, image, culture)
  mixin content
    .about__item
      img.about__img(src=image)
      span.about__text
        | #{culture}
  if show == true
    .container.about__culture_text_box.js-content-box(data-content-index=index, style="display:block")
      +content
  else
    .container.about__culture_text_box.js-content-box(data-content-index=index)
      +content

.about.about-02
  .background
    .container
      .about__culture_box
        +culture-item(true, culture_1, cultureSlogan_1)
        +culture-item(false, culture_2, cultureSlogan_2)
        +culture-item(false, culture_3, cultureSlogan_3)

    //the first one is visible by default
    .about-container
      +culture-item-content(true, culture_1, cultureImage_1, cultureContent_1)
      +culture-item-content(false, culture_2, cultureImage_2, cultureContent_2)
      +culture-item-content(false, culture_3, cultureImage_3, cultureContent_3)

// == END OF ABOUT 02 ==
