// == START OF ABOUT 03 ==

- var title       = '我們的客戶'
- var description = '自 2015 年成立以來，吸引了眾多互聯網大玩家的目光'

-
  var enterprise = {
    'xiaomi'  : 'http://www.mi.com',
    'didi'    : 'http://www.xiaojukeji.com',
    'weibo'   : 'http://tw.weibo.com',
    'qihoo'   : '//www.360.cn',
    'pingan'  : '//fincloud.pingan.com',
    'fastweb' : 'http://www.fastweb.com.cn',
    'meituan' : 'http://tb.meituan.com',
    'iqiyi'   : 'http://www.iqiyi.com'
  }

.about.about-03
  .about-wave-space
    img(src=img_path+'about-wave-2.svg')
  +section-title-box(title, description)
  .container
    .client-wrapper
      each  link, key in enterprise
        a.client-item(class=key, href=link, target='_blank')

// == END OF ABOUT 03 ==
