// == START OF ABOUT 04 ==

.about.about-04
  .background
    img(src=background_path+'bg--about-wave-btm.svg')
  .container
    .testimonials-wrapper
      .testimonials-item
        img.testimonials-item__img(src=avatar_path+'about-quote.png')
        h3.testimonials-item__title
          | Open Falcon 社區有個良性的發展，社區裡的每個人，都把這個事情當作自己的事做，大家願意聚在一起，貢獻很多代碼、貢獻很多文檔、貢獻很多思路。目前核心開發團隊包括小米、美團及滴滴的運維研發團隊、快網台灣研發中心(Cepave)。
        h5.testimonials-item__subtitle
          | 滴滴出行運維總監 來煒

// == END OF ABOUT 04 ==
