.page_wrapper {
  padding-top: 70px;
  @include laptop {
    padding-top: 0;
  }
}

.navigation_bar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  &:before {
    position: absolute;
    content: '';
    width: auto;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  &.is-default {
    &:before {
      height: 70px;
      background-color: $white;
      box-shadow: 0 2px 4px rgba($black, .1);
    }
  }
  &.is-scroll {
    &:before {
      height: 70px;
      background-color: $white;
      box-shadow: 0 2px 4px rgba($black, .1);
      transition: height .3s cubic-bezier(.0, .0, 1, 1);
    }
  }
}
.navigation_bar__links_box {
  display: none;
  padding-bottom: 40px;
}
.navigation_bar__toggler_box {
  padding: 24px 16px;
}
.navigation_bar__items_list {
  @include clear_list;
  vertical-align: top;
  display: inline-block;
  margin: 0 50px 0 0;
}
.navigation_bar__item {
  display: block;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
  &--last {
    margin-bottom: 30px;
  }
}
.navigation_bar__link {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.085em;
  color: rgba(white, 0.7);
  transition: color 0.4s ease;
  &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
    color: white;
  }
  @media (max-width: 1366px) {
    font-size: 9px;
  }
}


//
.header__container {
  @include clearfix;
  text-align: center;
  height: 70px;
}
.header__left_box {
  position: relative;
  z-index: 10;
  float: left;

  height: 100%;
}
.header__right_box {
  float: right;
  position: relative;
  z-index: 1;
}
.header__logo_box {
  margin-top: 12px;
  display: inline-block;
  overflow: hidden;
}
$brand-height: 46px;
$brand-width: $brand-height;
.header__logo_img {
  display: block;
  width: $brand-width;
  height: $brand-height;
  background-image: url(../img/etc/logo--circle--white.svg);
  float: left;
  .is-scroll &,
  .is-default & {
    background-image: url(../img/etc/logo--circle--color.svg);
  }
}
.header__logo_text {
  display: block;
  width: 132px;
  height: $brand-height;
  color: transparent;
  background-image: url(../img/etc/logo--text--white.svg);
  background-size: cover;
  float: left;
  .is-scroll &,
  .is-default & {
    background-image: url(../img/etc/logo--text--color.svg);
  }
}
.header__menu_list {
  @include clear_list;
  font-size: 0px;//fix space
  display: none;
  @include tablet {
    display: block;
  }
}
.header__menu_item {
  display: inline-block;
}
.header__menu_link {
  display: inline-block;
  color: rgba($white, .5);
  padding: 27px 16px;
  @include clear_link;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  .is-scroll &,
  .is-default & {
    color: $color-gray;
  }
  &:first-letter {
    text-transform: uppercase;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: $white;
    transition: width .4s cubic-bezier(0.1, 0.88, 0.25, 1);
    .is-scroll &,
    .is-default & {
      background-color: $color-primary;
    }
  }
  &:hover,
  &.state-active {
    &:before {
      width: 100%;
    }
    text-decoration: none;
    color: $white;
    .is-scroll &,
    .is-default & {
      color: $color-primary;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &.state-active {
    &:hover {
      cursor: default;
    }
  }
}

// off-canvas menu
%btn-default {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
@mixin hamb {
  .hamb-top,
  .hamb-middle,
  .hamb-bottom {
    @content;
  }
}
@mixin status {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  @include clear_list;
  li {
    width: 100%;
    line-height: 20px;
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 4px;
      background-color: $black;
      transition: width .2s ease-in;
    }
    @each $select, $color in (
      1: $color-yellow,
      2: $color-red,
      3: $color-blue-light,
      4: $color-secondary,
      5: $color-green,
      6: $color-purple) {
      &:nth-child(#{$select}):before {
        background-color: $color;
      }
    }
    &:hover:before,
    &.open:hover:before {
      width: 100%;
      transition: width .2s ease-in;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      padding: 10px 15px 10px 40px;
      line-height: 4rem;
      @include status {
        @extend %btn-default;
      }
    }
    &.open a {
      @include status {
        @extend %btn-default;
      }
    }
  }
}

.hamb-transition {
  transition: all .35s ease-in-out;
}

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 99999;
  width: 32px;
  height: 32px;
  right: 15px;
  background: transparent;
  border: none;
  display: block;
  @include tablet {
    display: none;
  }
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
  &.is-closed {
    &:before {
      content: '';
      display: block;
      color: $black;
      text-align: center;
      opacity: 0;
      transform: translate3d(0, 0, 0);
      transition: all .35s ease-in-out;
    }
    &:hover:before {
      opacity: 1;
      display: block;
      transform: translate3d(-100px, 0, 0);
      transition: all .35s ease-in-out;
    }
    @include hamb {
      position: absolute;
      left: 0;
      height: 4px;
      width: 100%;
    }
  }
  &.is-open {
    @include hamb {
      position: absolute;
      left: 0;
      height: 4px;
      width: 100%;
    }
  }
  &.is-closed {
    @include hamb {
      background-color: $color-blue;
    }
    .hamb-top {
      top: 5px;
      @extend .hamb-transition;
    }
    .hamb-middle {
      top: 50%;
      margin-top: -2px;
    }
    .hamb-bottom {
      bottom: 5px;
      @extend .hamb-transition;
    }
    &:hover {
      .hamb-top {
        top: 0;
        @extend .hamb-transition;
      }
      .hamb-bottom {
        bottom: 0;
        @extend .hamb-transition;
      }
    }
  }
  &.is-open {
    @include hamb {
      background-color: $white;
    }
    .hamb-top, .hamb-bottom {
      top: 50%;
      margin-top: -2px;
    }
    .hamb-top {
      transform: rotate(45deg);
      transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    }
    .hamb-middle {
      display: none;
    }
    .hamb-bottom {
      transform: rotate(-45deg);
      transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    }
  }
}
