.about-01 {
  background-color: $color-blue-dark;
  @extend %secton-display;
  .background {
    @extend .scrim;
    background-image: linear-gradient(to bottom, rgba($black,0.5) 0%, rgba($black,0) 50%);
  }
  .container {
    position: relative;
  }
  .background-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 473px;
    opacity: .5;
    @include tablet {
      opacity: 1;
    }
  }
}

.about-01 {
  .headline-box {
    @include tablet {
      @include span(6);
      @include push(1);
    }
    @include desktop {
      @include span(5);
      @include push(1);
    }
    .headline {
      @extend %text-align-center;
      @include tablet {
        text-align: left;
      }
      .headline__text {
        @extend %jumbo;
      }
    }
    .subheadline {
      @extend %text-align-center;
      @include tablet {
        text-align: left;
      }
      .subheadline__text {
        @extend %subhead;
      }
    }
  }
}

.planet {
  position: relative;
  margin-top: 60px;
  @include phone {
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
  }
  @include tablet {
    margin-top: 140px;
    @include span(4 last);
    @include push(1);
    max-width: initial;
  }
  @include desktop {
    @include span(5 last);
    @include push(1);
  }
  img {
    position: absolute;
    max-width: 100%;
    top: -40px;
    left: 0;
    animation: planet infinite ease-in-out 2s;
  }
}

@keyframes planet {
  50% {
    transform: rotate(0deg) translateY(10px) translateX(5px);
  }
}
