.about-04 {
  position: relative;
  background: $color-gray-ligtest;
  padding-top: 80px;
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 210px;
    img {
      width: 100%;
      height: 210px;
    }
  }
  .testimonials-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    width: span(10);
    @include tablet {
      width: span(8);
      margin-bottom: 60px
    };
    @include desktop {
      width: span(6);
      margin-bottom: 30px
    };
    &__img {
      margin-bottom: 48px;
    }
    &__title {
      margin-bottom: 16px;
      font-size: 16px;
      color: $color-gray-darker;
      text-transform: uppercase;
      line-height: 160%;
      letter-spacing: .05em;
    }
    &__subtitle {
      margin-bottom: 24px;
      font-size: 16px;
      color: $color-gray-darker;
      text-transform: uppercase;
      line-height: 160%;
      letter-spacing: .05em;
    }
  }
}
