// @mixin clearfix {
//   &:after {
//     content: " "; /* Older browser do not support empty content */
//     visibility: hidden;
//     display: block;
//     height: 0;
//     clear: both;
//   }
// }
@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: "";
    line-height: 0;
  }
  &::after {
    clear: both;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@mixin clear_list{
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin no_webkit_flickering{
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
@mixin GPU_acceleration{
  transform: translateZ(0);
}
@mixin clear_link{
  &, &:hover, &:visited, &:active, &:focus{
    text-decoration: none;
  }
  &:hover{
    color: inherit;
  }
}
