// == START OF TEAM 01 ==

- var headline    = '我們的團隊'
- var subheadline = '我們讓開發和運維結合，高速迭代、全速創新，把對用戶和社區的承諾融入程式碼，釋放創新的原動力。我們全力以赴 — You never seen the last of us！'

.space
.team.team-01
  .background
    .under-cover
    //- img(src=background_path+'bg--team-waveform.svg')
  .container
    +headline-box(headline, subheadline)
    .robot
      img(src=img_path+'robot-xl.svg')
// == End OF TEAM 01 ==
