// == START OF TEAM 03 ==

- var title       = '英雄者聯盟'
- var description = '這裡聚集不同領域的專家和技術宅，只怕你不敢來華山論劍。'

- var imagePath = 'background-image: url(' + avatar_path
- var fileNameExtension   = '.png)'
- var teamMemberimg = 'teammember'
-
  var GaMembers = [
    // {
    // 'department' : '1',
    // 'style'      : ' ',
    // 'name'       : 'G & A',
    // 'title'      : ' '},
    // {
    // 'department' : '1',
    // 'style'      : imagePath + teamMemberimg + fileNameExtension,
    // 'name'       : 'Kenneth',
    // 'title'      : 'VIP'},
    // {
    // 'department' : '1',
    // 'style'      : imagePath+'kordan'+fileNameExtension,
    // 'name'       : 'Kordan',
    // 'title'      : 'Team Lead'}
    // ,
    // {
    // 'department' : '1',
    // 'style'      : imagePath+'lulu'+fileNameExtension,
    // 'name'       : 'LuLu',
    // 'title'      : 'HR'}
  ];

-
  var CommunityMembers = [
    {
    'department' : '2',
    'style'      : ' ',
    'name'       : 'Community',
    'title'      : ' '},
    {
    'department' : '2',
    'style'      : imagePath+'kordan'+fileNameExtension,
    'name'       : 'Kordan',
    'title'      : 'Open Falcon'},
    {
    'department' : '2',
    'style'      : imagePath+'masato'+fileNameExtension,
    'name'       : 'Masato',
    'title'      : 'Open Falcon'}
  ];

-
  var EngineringMembers = [
    {
    'department' : '3',
    'style'      : ' ',
    'name'       : 'Enginering',
    'title'      : ' '},
    {
    'department' : '3',
    'style'      : imagePath+'don'+fileNameExtension,
    'name'       : 'Don',
    'title'      : 'Sr. Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'myhung'+fileNameExtension,
    'name'       : 'M.Y.Hung',
    'title'      : 'DevOps Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'chyeh'+fileNameExtension,
    'name'       : 'C.H.Yeh',
    'title'      : 'Software Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'jeremy'+fileNameExtension,
    'name'       : 'C.M.Lin',
    'title'      : 'Software Engineer'},
    // {
    // 'department' : '3',
    // 'style'      : imagePath+'mike'+fileNameExtension,
    // 'name'       : 'Mike',
    // 'title'      : 'Sr. Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'masato'+fileNameExtension,
    'name'       : 'Masato',
    'title'      : 'Sr. Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'laurence'+fileNameExtension,
    'name'       : 'Laurence',
    'title'      : 'Software Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'hww'+fileNameExtension,
    'name'       : 'H.W.Wang',
    'title'      : 'Software Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'jiyi'+fileNameExtension,
    'name'       : 'Jiyi',
    'title'      : 'Software Engineer'},
    // {
    // 'department' : '3',
    // 'style'      : imagePath+'bm'+fileNameExtension,
    // 'name'       : 'B.M.Wu',
    // 'title'      : 'Sr. Engineer'},
    {
    'department' : '3',
    'style'      : imagePath+'roby'+fileNameExtension,
    'name'       : 'Roby',
    'title'      : 'Sr. DevOps Engineer'},
    // {
    // 'department' : '3',
    // 'style'      : imagePath + teamMemberimg + fileNameExtension,
    // 'name'       : 'J.M.Lin',
    // 'title'      : 'Sr. Engineer'},
    // {
    // 'department' : '3',
    // 'style'      : imagePath + 'brian' + fileNameExtension,
    // 'name'       : 'Brian',
    // 'title'      : 'Sr. Engineer'},
    // {
    // 'department' : '3',
    // 'style'      : imagePath + teamMemberimg + fileNameExtension,
    // 'name'       : 'Ben',
    // 'title'      : 'Software Engineer'},
    {
    'department' : '3',
    'style'      : imagePath + 'desmond' + fileNameExtension,
    'name'       : 'Desmond',
    'title'      : 'Front End Engineer'},
    {
    'department' : '3',
    'style'      : imagePath + 'mark' + fileNameExtension,
    'name'       : 'Mark',
    'title'      : 'Director'},
    {
    'department' : '3',
    'style'      : imagePath + 'josh' + fileNameExtension,
    'name'       : 'Josh',
    'title'      : 'Sr. Engineer'},
    {
    'department' : '3',
    'style'      : imagePath + 'james' + fileNameExtension,
    'name'       : 'James',
    'title'      : 'Sr. Engineer'}
  ];

-
  var ProductMembers = [
    {
    'department' : '4',
    'style'      : ' ',
    'name'       : 'Product',
    'title'      : ' '},
    {
    'department' : '4',
    'style'      : imagePath+'ys'+fileNameExtension,
    'name'       : 'Y.Y.Su',
    'title'      : 'UX Designer'},
    {
    'department' : '4',
    'style'      : imagePath+'jj'+fileNameExtension,
    'name'       : 'JJ',
    'title'      : 'Designer'},
    {
    'department' : '4',
    'style'      : imagePath+'birdie'+fileNameExtension,
    'name'       : 'Birdie',
    'title'      : 'UI/UX Designer'},
    {
    'department' : '4',
    'style'      : imagePath + 'totoro' + fileNameExtension,
    'name'       : 'Totoro',
    'title'      : 'Product Manager'}
  ];


mixin team-list-item(category, style, name, title)
  li.team_member-list-item(data-category=category, class='filtr-item')
    .team_member-list-item__img(style=style)
    .team_member-list-item__cover
      .team_member-list-item__text
        .team_member-list-item__text--name #{name}
        .team_member-list-item__text--title #{title}

.team.team-03
  +section-title-box(title, description)
  ul.team-filters
    - var item = ".team-filter-item";
    li.team-filters-item
      button.state-active(type='button', data-filter='all', class='js-filtering-button')
        | all
    //- li.team-filters-item
    //-   button(type='button', data-filter='1', class='js-filtering-button')
    //-     | G & A
    li.team-filters-item
      button(type='button', data-filter='2', class='js-filtering-button')
        | Community
    li.team-filters-item
      button(type='button', data-filter='3', class='js-filtering-button')
        | Engineering
    li.team-filters-item
      button(type='button', data-filter='4', class='js-filtering-button')
        | Product

  .team-filter-container.filtr-container
    //- ul.team_member-list.team_member-list--ga
    //-   each GaMember in GaMembers
    //-     li.team_member-list-item(data-category=GaMember.department, class='filtr-item')
    //-       .team_member-list-item__img(style=GaMember.style)
    //-       .team_member-list-item__cover
    //-         .team_member-list-item__text
    //-           .team_member-list-item__text--name #{GaMember.name}
    //-           .team_member-list-item__text--title #{GaMember.title}

    ul.team_member-list.team_member-list--communty
      each CommunityMember in CommunityMembers
        li.team_member-list-item(data-category=CommunityMember.department, class='filtr-item')
          .team_member-list-item__img(style=CommunityMember.style)
          .team_member-list-item__cover
            .team_member-list-item__text
              .team_member-list-item__text--name #{CommunityMember.name}
              .team_member-list-item__text--title #{CommunityMember.title}

    ul.team_member-list.team_member-list--enginering
      each EngineringMember in EngineringMembers
        li.team_member-list-item(data-category=EngineringMember.department, class='filtr-item')
          .team_member-list-item__img(style=EngineringMember.style)
          .team_member-list-item__cover
            .team_member-list-item__text
              .team_member-list-item__text--name #{EngineringMember.name}
              .team_member-list-item__text--title #{EngineringMember.title}

    ul.team_member-list.team_member-list--product
      each ProductMember in ProductMembers
        li.team_member-list-item(data-category=ProductMember.department, class='filtr-item')
          .team_member-list-item__img(style=ProductMember.style)
          .team_member-list-item__cover
            .team_member-list-item__text
              .team_member-list-item__text--name #{ProductMember.name}
              .team_member-list-item__text--title #{ProductMember.title}

// == END OF TEAM 03 ==
