// == START OF VENDOR CSS ==
@import "../../bower_components/susy/sass/susy";
@import '../../bower_components/normalize-scss/_normalize.scss';
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
// == END OF VENDOR CSS ==

// == START OF CEPAVE CSS ==
@import '_abstracts/_fonts';
@import '_abstracts/_variables';
@import '_abstracts/_mixins';
@import '_abstracts/_icons';
@import '_theme/_custom';

@import '_base/_base';
@import '_base/_typography';

@import '_layout/_footer/_footer';

@import '_components/_button';

// page
@import '_section/_page-common';
  // > home
  @import '_section/_home/_common';
  @import '_section/_home/_01';
  @import '_section/_home/_02';
  @import '_section/_home/_03';
  @import '_section/_home/_04';
  @import '_section/_home/_05';

  // > about
  @import '_section/_about/_common';
  @import '_section/_about/_01';
  @import '_section/_about/_02';
  @import '_section/_about/_03';
  @import '_section/_about/_04';

  // > team
  @import '_section/_team/_common';
  @import '_section/_team/_01';
  @import '_section/_team/_02';
  @import '_section/_team/_03';

  // > hiring
  @import '_section/_hiring/_common';
  @import '_section/_hiring/_01';
  @import '_section/_hiring/_02';
  @import '_section/_hiring/_03';
  @import '_section/_hiring/_04';

  // > contact
  @import '_section/_contact/_contact';

@import '_layout/_header/_navigation_bar';
// == END OF CEPAVE CSS ==
.debug {
  *, *:before, *:after {
    border: 1px solid $black;
    box-sizing: border-box;
    opacity: .8;
  }
}
