%full-size {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
}

@mixin display-rwd {
  height: 100vh;
  @include tablet {
    height: 640px;
  }
  @include laptop {
    height: 740px;
  }
  @include desktop {
    height: 860px;
  }
}
%secton-display {
  position: fixed !important;
  @extend %full-size;
  @include display-rwd;
  top: 70px;
  @include tablet {
    top: 0;
  }
  .background {
    position: fixed;
    @extend %full-size;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
  }
}

.space {
  position: relative;
  @extend %full-size;
  @include display-rwd;
}

.section {
  text-align: center;
  background-color: $color-gray-ligtest;
  padding: 20px 0;
  @include clearfix;
  position: relative;
  @include phone {
    padding: 40px 0;
  };
  @include tablet {
    padding: 60px 0;
  };
  @include laptop {
    padding: 80px 0;
  };
  @include desktop {
    padding: 100px 0;
  }
}

.section-row {
  position: relative;
}

%scrim-gradient {
  background-image: linear-gradient(to top, rgba($black,0.5) 0%, rgba($black,0) 50%);
}

.scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @extend %scrim-gradient;
}

// section 1
.headline-box {
  margin-top: 40px;
  @include tablet {
    @include span(8);
    margin-top: 60px;
  }
  @include laptop {
    @include span(6);
    margin-top: 100px;
  }
  @include desktop {
    @include span(8);
    margin-top: 140px;
  }
  .headline {
    .headline__text {
      @extend %display;
      @extend %font-color-white;
    }
    @media (#{$max_phone}) {
      text-align: center;
    }
  }
  .subheadline {
    .subheadline__text {
      @extend %title;
      @extend %font-color-white;
    }
    @media (#{$max_phone}) {
      text-align: center;
    }
  }
}

// section block
.title-box {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: span(10);
  @include tablet {
    margin-top: 60px;
    padding: 40px 0;
    width: span(8);
  }
  @include laptop {
    margin-top: 90px;
    padding: 60px 0;
    width: span(7);
  }
  @include desktop {
    margin-top: 120px;
    width: span(6);
  }
  &__title {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 20px;
    letter-spacing: .2em;
    color: $color-gray-darkest;
  }
  &__description {
    display: inline-block;
    font-size: 20px;
    color: $color-gray;
  }
}

// under construction
.under-construction {
  background: url(../img/under-construction.svg);
  width: 200px;
  height: 49px;
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: -60px;
  transform: rotate(45deg) scale(.75);
  padding-left: 5px;
  @include tablet {
    top: 20px;
    right: -50px;
    transform: rotate(45deg) scale(1);
  }
  .loveparrot {
    position: absolute;
    left: 36px;
    bottom: 0;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

html {
  height: 100%;
}

.nav .open > a {
  background-color: transparent;
  &:hover, &:focus {
    background-color: transparent;
  }
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 280px;
  }
}

#sidebar-wrapper {
  z-index: 99998;
  left: 280px;
  width: 0;
  height: 100%;
  margin-left: -280px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $black;
  transition: all 0.5s ease;
  &::-webkit-scrollbar {
    display: none;
  }
  .toggled & {
    width: 280px;
    position: fixed;
  }
}

.page_wrapper {
  padding-top: 70px;
  @include tablet {
    padding-top: 0;
  }
  .toggled & {
    position: absolute;
    margin-lrft: -280px;
  }
}

.overlay {
  position: fixed;
  display: none;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-blue-darker, 0.8);
  z-index: 9999;
}
