include ../_section/_mixin

block vars
  - var lang                = 'zh-Hant-TW'
  - var pageTitle           = 'cepave'
  - var pageDescription     = 'Description'
  - var bodyClass           = ''
  - var socialURL           = 'http://cepave.com'
  - var facebookID          = '160888947786400'
  - var facebookType        = 'website'
  - var facebookTitle       = 'Cepave'
  - var facebookDescription = '全台灣最懂區塊鏈與監控系統的專家'
  - var facebookImage       = 'http://www.cepave.com/img/etc/mascot.png'
  - var favicon             = 'img/favicons/favicon.png'
  - var faviconTouch        = 'img/favicons/touch-icon-precomposed.png'
  - var css_path            = 'css/main.min.css'
  - var js_path             = 'js/main.min.js'

append content
  - var img_path        = 'img/'
  - var icons_path      = 'img/icons/'
  - var other_pics_path = 'img/etc/'
  - var pictures_path   = 'img/pictures/'
  - var favcions_path   = 'img/favcions/'
  - var background_path = 'img/bg/'
  - var avatar_path     = 'img/avatar/'

doctype html
html(lang=lang class='no-js')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{ pageTitle }
    meta(name='description', content='pageDescription')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='fb:app_id', content=facebookID)
    meta(property='og:type', content=facebookType)
    meta(property='og:url', content=socialURL)
    meta(property='og:title', content=facebookTitle)
    meta(property='og:description', content=facebookDescription)
    meta(property='og:image', content=facebookImage)
    link(rel='icon', type='image/x-icon', href=favicon)
    link(rel='apple-touch-icon', href=faviconTouch)
    link(rel='stylesheet', href=css_path)

  body(class=bodyClass)
    include _offcanvas/_hamburger
    #wrapper
      include _offcanvas/_sidemenu
      block content
    script(src=js_path, defer)
