// == START OF hiring 02 ==

- var title       = '我們的價值觀'
- var description = '價值觀不僅僅是口號，我們真心相信著，並轉化為我們的文化。'
-
  var values = [
    {
    'img'   : img_path+'astronaut.svg',
    'title' : '萬物皆是磨練',
    'text'  : '我們堅信不斷努力會做的更好，哪怕不如預期，也會得到改進的方向，不斷進步。'},
    {
    'img'   : img_path+'plasma-gun.svg',
    'title' : '守護熱情',
    'text'  : '最好的解決方案就是人，我們用熱情互相擁抱、互助互信，這是我們最大的幸福。'},
    {
    'img'   : img_path+'rocket.svg',
    'title' : '燃燒推進',
    'text'  : '開放和真誠是我們的助力，因為唯有相互鼓勵與指教，一加一才能遠遠大於二。'}
      ,
    {
    'img'   : img_path+'robot.svg',
    'title' : '謙謙君子',
    'text'  : '一個人走最快，一群人走更遠，沒有一個強者只有一群勝者，而且... 不無聊！'}
      ,
    {
    'img'   : img_path+'spaceship.svg',
    'title' : '被選中的人',
    'text'  : '有如孩子般的好奇與靈活的響應能力，面對所處的網路世代我們無所畏懼。'}
      ,
    {
    'img'   : img_path+'solar-system.svg',
    'title' : '永恆的動力',
    'text'  : '創新是我們的動力，我們賦予每位夥伴高度自由，燃燒與釋放自己的創造力。'}
  ];


.hiring.hiring-02
  .background
    .fix-position
      img(src=background_path+'bg--hiring-hero-space.svg')
  +section-title-box(title, description)
  .container
    .values-wrapper
      each value in values
        .values-item
          img.values-item__img(src=value.img)
          h3.values-item__title
            | #{value.title}
          .values-item__text
            | #{value.text}

// == END OF hiring 02 ==
