// == START OF hiring 04 ==

- var title       = '來吧~加入我們!'
- var description = '一個簡單的團隊，希望成就不簡單的事，期待遇見同樣的你。'

-
  var filterList = [
    {
      dataFilter : 'all',
      className  : 'js-filtering-button state-active',
      category   : '全部'
    }, {
      dataFilter : '1',
      className  : 'js-filtering-button',
      category   : '監控系統'

    }, {
      dataFilter : '2',
      className  : 'js-filtering-button',
      category   : '區塊鏈'
    }, {
      dataFilter : '3',
      className  : 'js-filtering-button',
      category   : '台北'
    }
  ];

mixin job-category-item(filter)
  li.job-category-item
    .job-category-item-link(data-filter= filter.dataFilter, class= filter.className)= filter.category

-
  var filterContentList = [
    {
      title          : '軟體工程師 - 監控系統',
      qualifications : 'Senior',
      date           : '最後更新 2017.06.16',
      link           : '//www.104.com.tw/job/?jobno=53qe6&jobsource=n104bank1',
      category       : '1, 3'
    }, {
      title          : '軟體工程師 - Front End',
      qualifications : 'Senior',
      date           : '最後更新 2017.06.16',
      link           : '//www.104.com.tw/job/?jobno=53qe0&jobsource=n104bank1',
      category       : '1, 3'
    }, {
      title          : '軟體工程師 - Blockchain',
      qualifications : 'Junior',
      date           : '最後更新 2017.06.16',
      link           : '//www.104.com.tw/job/?jobno=5hf1x&jobsource=n104bank1',
      category       : '1, 3'
    }, {
      title          : '軟體工程師 - 暑期實習生',
      qualifications : 'Intern',
      date           : '最後更新 2017.06.16',
      link           : '//www.104.com.tw/job/?jobno=5h84y&jobsource=n104bank1',
      category       : '1, 3'
    }, {
      title          : '架構師 - Blockchain',
      qualifications : 'Senior',
      date           : '最後更新 2017.06.16',
      link           : '//www.104.com.tw/job/?jobno=5cn2o&jobsource=n104bank1',
      category       : '2, 3'
    }, {
      title          : '資深軟體工程師 - 監控系統',
      qualifications : 'Senior',
      date           : '最後更新 2017.06.16',
      link           : '//www.104.com.tw/job/?jobno=53qe7&jobsource=n104bank1',
      category       : '1, 3'
    }
  ];

mixin job(filterContent)
  li(data-category= filterContent.category, class='filtr-item', target='_brank')
    a(href= filterContent.link)
      .left-col
        .job-title= filterContent.title
        .qualifications= filterContent.qualifications
        .update-date= filterContent.date
      //- .right-col
      //-   .label= filterContent.label1
      //-   .label= filterContent.label2

.hiring.hiring-04
  +section-title-box(title, description)
  .container
    .job-category
      nav.filter
        ul.team__filter-tags
          for filter in filterList
            +job-category-item(filter)
          //- li.job-category-item
          //-   .job-category-item-link(data-filter='4', class='js-filtering-button')
          //-     | 北京
    //- .count
    //-   .count-text
    //-     | 開放職缺
    //-     span.count-number
    //-       | 7
    .content.hiring-job
      ul.filtr-container
        for filterContent in filterContentList
          +job(filterContent)

// == END OF hiring 04 ==
