// == START OF HOME 01 ==

.space
.home.home-01
  .background
    .under-cover
      img(src=img_path+'home-waveform.svg')
    .container
      .slider-box
        .slider-for(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "fade": true, "cssEase": "linear", "asNavFor": ".slider-nav"}')
          .slide
            - var headline    = '區塊鏈創新業務'
            - var subheadline = '建立區塊鏈生態，探索區塊鏈藍海的星際航道！'
            +headline-box(headline, subheadline)
          .slide
            - var headline    = '顛覆監控系統的既有印象'
            - var subheadline = '開源共享、發現價值、高效運維'
            +headline-box(headline, subheadline)
        .presentation__container
          .browser-bar
            .browser-button
            .browser-menu
          .slider-nav(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "asNavFor": ".slider-for", "dots": true, "focusOnSelect": true, "speed": 800}')
            .browser
              .app-item
                img(src=pictures_path+'pic--app-block_chain.png')
            .browser
              .app-item
                img(src=pictures_path+'pic--app-monitoring.png')

// == END OF HOME 01 ==
