// == START OF HOME 03 ==

-
  var solutions = [
    {
    'img'    : img_path+'telescope.svg',
    'title'  : '監控系統',
    'text'   : '企業級開源監控解決方案，輕鬆實現自動化部署與流程化監控，透過簡潔、直覺、易上手的介面，打造真正以大數據驅動的智慧監控平台，幫助企業專注於業務創新，持續推動服務升級，讓企業的商業價值極大化，Cepave 努力讓「運維標準化」在不同企業中實現，成就真正的「運維生態圈」需要你一起來顛覆。'},
    {
    'img'    : img_path+'ursa-major.svg',
    'title'  : '區塊鏈',
    'text'   : '新一代區塊鏈技術，不僅加速金融服務業變革、更是物聯網應用的關鍵推手。將有形、無形的資產以點對點的方式自由流動，透過分佈式共識算法，實現去中心化的信任機制，以更快、更安全、更低成本的方式創造價值。我們深深相信下一波科技浪潮將被區塊鏈重新改寫，歡迎你跟我們一起探索未來！'}
  ];

.home.home-03
  .container
    .home-03__item
      .title-box
        h2.title-box__title
          | 選擇專屬的應用場景與解決方案
        .title-box__description
          p
            | 成立於 2015 年，致力打造企業級網路應用解決方案，已推出開源監控系統、區塊鏈產品，提供智慧直覺、人性化的解決方案。
          p
            | 初期，Cepave 專注為運維工作者打造智慧監控平台，讓問題更清楚、改善更簡單，目前已超過 100 家企業、40,000 台雲主機、 5,000 位運維工作者正在被幫助，至今也仍然持續投入在 Open-Falcon 社區，成為社區主要貢獻者。2016 年加入區塊鏈研發，更積極加強區塊鏈技術、標準的研究，努力構建新一代網路空間基礎協議，推動區塊鏈技術開源。
          p
            | 以「客戶、技術」為中心是 Cepave 的使命，顛覆人們對網路運用與想法是我們的願景，一群簡單的人，要做最不簡單的事。
    each solution in solutions
      .home-03__item.solution-item
        .solution-item__container
          img.solution-item__img(src=solution.img)
          h3.solution-item__title
            | #{solution.title}
          span.solution-item__text
            | #{solution.text}
          button.solution-item__btn(disabled)
            | More

// == END OF HOME 03 ==
