// == START OF HOME 04 ==

- var title       = '跟上我們'
- var description = '最新的活動資訊、技術分享'

- var blogPath = 'http://blog.cepave.com/';
-
  var partners = [
    {
    'link' : blogPath+'cepave-company-stack',
    'style': 'background-image: url('+other_pics_path+'mascot.png);',
    'text' : '公司的技術棧'},
    {
    'link' : blogPath+'package-manage-yarn',
    'style': 'background-image: url(https://yarnpkg.com/assets/og_image.png);',
    'text' : '新世代的包管理 yarn'},
    {
    'link' : blogPath+'do-not-choose-react-just-for-performance',
    'style': 'background-image: url(http://react-etc.net/files/2016-07/logo-578x270.png);',
    'text' : '不要只因為性能考量而選擇 React.js'},
    {
    'link' : blogPath+'how-to-write-dockerfile',
    'style': 'background-image: url(https://camo.githubusercontent.com/14b97ba4a1327c0db2200f3892788fd873a1ce20/687474703a2f2f626c6f672e70687573696f6e2e6e6c2f77702d636f6e74656e742f75706c6f6164732f323031332f31312f646f636b65722e706e67);',
    'text' : '撰寫一份符合需求的 Dockerfile'}
  ];

.home.home-04
  .background
    img(src=background_path+'bg--home_wave.svg')
  +section-title-box(title, description)
  .container
    .blog-wrapper
      each partner in partners
        .blog-item
          a.blog-item__link(href=partner.link)
            .blog-item__img(style=partner.style)
            span.blog-item__text
              | #{partner.text}

// == END OF HOME 04 ==
