- var headline = 'headline'
- var subheadline = 'subheadline'

mixin headline-box(headline, subheadline)
  .headline-box
    h2.headline
      span.headline__text
        | #{headline}
    h3.subheadline
      span.subheadline__text
        | #{subheadline}

- var title = 'title'
- var description = 'description'

mixin section-title-box(title, description)
  .title-box
    h2.title-box__title
      | #{title}
    p.title-box__description
      | #{description}
