- var img_path        = 'img/'
- var icons_path      = 'img/icons/'
- var other_pics_path = 'img/etc/'
- var pictures_path   = 'img/pictures/'
- var favcions_path   = 'img/favcions/'
- var background_path = 'img/bg/'
- var avatar_path     = 'img/avatar/'
- var css_path        = 'css/'
- var js_path         = 'js/'
