.team-01 {
  background-color: $color-red;
  @extend %secton-display;
  .background {
    position: absolute;
    background-image: linear-gradient(to top, rgba($black,0.5) 0%, rgba($black,0) 50%);
  }
  .container {
    position: relative;
    .robot {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      @include tablet {
        position: absolute;
        bottom: -78%;
        left: 61%;
      }
      @include laptop {
        bottom: -107%;
        left: 57%;
      }
      @include desktop {
        bottom: -100%;
        left: 36%;
      }
      img {
        animation: robot infinite ease-in-out 2s;
      }
    }
  }

  .under-cover {
    background-image: url(#{$background_path}bg--team-waveform.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: -580px;
    background-position-y: bottom;
    @include phone {
      background-position-x: -450px;
      background-position-y: bottom;
    }
    @include tablet {
      background-position-x: -460px;
      background-position-y: 90px;
    }
    @include laptop {
      background-position-x: -400px;
      background-position-y: 160px;
    }
    @include desktop {
      background-position-x: center;
      background-position-y: bottom;
    }
    // @include tablet {
    //   width: 100%;
    //   height: auto;
    // }
    @include desktop {

    }
  }
}

.team-01 {
  .headline-box {
    @include tablet {
      @include span(6);
      @include push(1);
    }
    @include desktop {
      @include span(5);
      @include push(1);
    }
    .headline {
      @extend %text-align-center;
      @include tablet {
        text-align: left;
      }
      .headline__text {
        @extend %jumbo;
      }
    }
    .subheadline {
      @extend %text-align-center;
      @include tablet {
        text-align: left;
      }
      .subheadline__text {
        @extend %subhead;
      }
    }
  }
}

@keyframes robot {
  50% {
    transform: rotate(0deg) translateY(10px) translateX(5px);
  }
}
