@mixin team_member-list-content($color) {
  .team_member-list-item:first-child {
    background-color: $color;
  }
  .team_member-list-item__cover {
    &:first-child {
      background-color: rgba($color,1);
      .team_member-list-item__text {
        color: inherit;
      }
      &:hover {
        background-color: rgba($color,1);
      }
    }
    &:hover {
      background-color: rgba($color,.75);
      .team_member-list-item__text {
        color: $white;
      }
    }
  }
}

.team-03 {
  text-align: center;
  background: $color-gray-ligtest;
  padding-bottom: 0;
  .title-box {
    margin-top: 0;
  }
  // &__container {
  //   @extend .container;
  // }
  .team {
    &-filters {
      @include clear_list;
      margin-bottom: 40px;
      @include clearfix;

      &-item {
        display: inline-block;
        margin: 0 5.5px 10px;
        button {
          @extend .button;
          @extend .button--extra-small;
          @extend .button--gray;
          &.state-active {
            @extend .button--black;
          }
        }
      }
    }
    &-filter-container {
      @extend .container-center;
      max-width: 1600px;
    }
    &_member-list {
      @include clear_list;
      &-item {
        text-decoration: none;
        &:first-child {
          .team_member-list-item__text--name {
            color: $color-gray-darkest;
          }
        }
        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
        }
        float: left;
        left: 0; //a hack for better filterizr plugin position
        width: 100 / 2 * 1%;
        height: 150px;
        @include tablet {
          width: 100 / 5 * 1%;
          height: 180px;
        }
        @include laptop {
          width: 100 / 6 * 1%;
          height: 165px;
        }
        @include desktop {
          width: 100 / 8 * 1%;
          height: 185px;
        }
        &__cover {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
        &__img {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 100%;
        }
        &__text {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          color: transparent;

          &--name  {
            font-size: 24px;
          }
          &--title  {
            font-size: 14px;
          }
        }
      }
      &--ga {
        @include team_member-list-content($color-yellow);
      }
      &--communty {
        @include team_member-list-content($color-orange);
      }
      &--enginering {
        @include team_member-list-content($color-red);
      }
      &--product {
        @include team_member-list-content($color-purple);
      }
    }
  }
}
